body{
    background-color: #232830;
}

header {
    text-align: center;
    margin-top: 2%;
}

#nav-header {
    display: flex;
    text-align:center;
    justify-content: space-between;
    padding: 0 10%;
}
nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li a {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
}
.logo-text a{
    font-size: 30px;
}
#nav-areas {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.group-5 h1{
    font-family: "Recursive", serif;
    font-size: 71px;
    font-style: italic;
    font-weight: 400;
    color: #FF7575;
    margin: 40px 0 0 0;
}
.group-5 h2{
    font-family: "Poppins", serif;
    font-size: 29px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 17px 0 0 0;
}

hr {
    margin: 2% 0 0 0;
    border-color:#4D4D4D; 
    border-style:solid;
}

.category-listing {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.category-listing img {
    gap: 20px;
}
.category-listing ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

.category-listing ul li {
    font-family: "Recursive", serif;
    font-weight: 400;
    font-size: 27px;
    color: #909090;
    text-decoration: none;
}